@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-container {
  background-image: linear-gradient(
    49deg,
    rgba(19, 172, 119, 0.6) 0%,
    rgba(89, 194, 208, 0.6) 51.56%,
    rgba(172, 166, 19, 0.6) 100%
  );
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
}

.gradient-container-2 {
  background: linear-gradient(
    49deg,
    rgba(19, 172, 119, 0.6) 0%,
    rgba(89, 194, 208, 0.6) 51.56%,
    rgba(172, 166, 19, 0.6) 100%
  );
  backdrop-filter: blur(82px);
}
